nav {
    width: 100%;
    /* move nav bar to the right with flexbox */
    display: flex;
    flex-direction: row-reverse;
}

/* style all nav menu links, both top-level and below */
/* 
 * NOTE: we intentionally only color the clickable items this color,
 * to make it easier for the user to distinguish from the 
 * non-clickable top-level menu items that have submenus.
 */
nav a {
    text-decoration: none;
    color: darkgreen;
}

nav a:hover {
    text-decoration: underline
}

/*
 * style all the nav menu unordered lists, 
 * both top-level and below, to remove bullets
 */
nav ul {
    list-style: none;
}

/* 
 * style list items at both levels to look like boxes
 */
nav li {
    display: inline-block; /* we'll override this back to block on submenu items */
    position: relative;

	background: #888; /* Change Background color of list items */
	padding: 15px 20px; /* add space around text */
	font: bold 12px/18px sans-serif;
	cursor: pointer; /* Change mouse cursor to pointer */
	border-radius: 5px;
    border-style: double;
}

nav li:hover {
	background: #fff; /* change color on hover */
}

/* when a top-level nav item is hovered, show its submenu if it has one */
nav li:hover ul {
    left: 0;
}

/* style the submenus, moving them off-screen by default */
nav ul ul {
    position: absolute;
    top: 100%; /* top of submenu is bottom of parent */
    left: -99999px; /* move off-screen by default */
    /* background-color: #fff;  */
    padding: 0;
}

nav ul ul li {
    /* make sure the submenus use block display so they'll use the full width */
    display: block;
    /* Change background color of submenu to match hovered parent menu item */
    background: #fff;
}

/* subtle background color change in the background color of the submenu items on hover */
nav ul ul li:hover {
    background: #f0f0f0;
}