:root {
    /* color palette exported from https://coolors.co/31393c-2176ff-33a1fd-fdca40-f79824 */
    --gunmetal: #31393cff;
    --blue-crayola: #2176ffff;
    --celestial-blue: #33a1fdff;
    --sunglow: #fdca40ff;
    --carrot-orange: #f79824ff;
}

/* GLOBAL STYLES
--------------------------------------*/
body {
    background-color: var(--sunglow);
}

/* create classes matching the grid areas so it's easier to mentally map them */
.header-title {
    grid-area: header-title;
}

.header-navbar {
    grid-area: header-navbar;
}

.portfolio-piece1 {
    grid-area: portfolio-piece1;
}

.portfolio-piece2 {
    grid-area: portfolio-piece2;
}

.portfolio-piece3 {
    grid-area: portfolio-piece3;
}

.portfolio-piece4 {
    grid-area: portfolio-piece4;
}

.portfolio-piece5 {
    grid-area: portfolio-piece5;
}

.portfolio-piece6 {
    grid-area: portfolio-piece6;
}

.footer-title {
    grid-area: footer-title;
}

.footer-contact {
    grid-area: footer-contact;
}

.portfolio-piece {
    align-self: center;
    padding: 20px;
    background-color: var(--celestial-blue);
    color: var(--gunmetal);
    border: 1px solid var(--gunmetal);
}

.portfolio-piece img {
    /* ensure the portfolio images don't cause the columns to expand beyond the viewport */
    max-width: 100%;
}

.wrapper {
    color: #444;
    /* ensure we keep some space around the edges of the page */
    margin: 20px;
}

/* Navbar
--------------------------------------*/
nav ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gunmetal);
    /* position: absolute; */
    top: 0;
    right: 10px;
    width: 100%;
}

nav li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    /* fairly subtle color change on hover */
    background-color: #111;
    color: white;
}

/* default layout will be desktop so we can decrease width to find where the 
   layout breaks and use those for changing the grid layout */
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header-title      header-navbar    header-navbar"
        "portfolio-piece1  portfolio-piece2 portfolio-piece3"
        "portfolio-piece4  portfolio-piece5 portfolio-piece6"
        "footer-title      footer-contact   footer-contact";
}

.header-navbar,
.footer-contact {
    /* keep these on the right side of their grid slots in desktop mode */
    justify-self: end;
}


@media screen and (max-width: 1100px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header-title      header-navbar"
            "portfolio-piece1  portfolio-piece2"
            "portfolio-piece3  portfolio-piece4"
            "portfolio-piece5  portfolio-piece6"
            "footer-title      footer-contact";
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "header-title"
            "header-navbar"
            "portfolio-piece1"
            "portfolio-piece2"
            "portfolio-piece3"
            "portfolio-piece4"
            "portfolio-piece5"
            "portfolio-piece6"
            "footer-title"
            "footer-contact";
    }

    .header-navbar,
    .header-title,
    .footer-title,
    .footer-contact {
        /* when we collapse to a single column, center the header and footer items */
        justify-self: center;
    }
}

@media screen and (min-width: 600px) {}

/* GLOBAL STYLES
--------------------------------------*/

html,
body {
    height: 100%;
}

.resume {
    display: flex;
    flex-direction: column;
}

.resume .non-footer-content {
    flex: 1 0 auto;
}

.resume-section {
    margin-bottom: 50px;
}

/* reduce margin-bottom so there's not so much empty space on smaller screens */
@media screen and (max-width: 600px) {
    .resume-section {
        margin-bottom: 10px;
    }
}

.resume-section h2 {
    border-bottom: 2px dashed var(--asparagus);
}

@media screen and (max-width: 600px) {

    /* the default styles for h2 include too much vertical margin for smaller screens */
    /* just keep the top margin for space between sections but no need for the bottom margin */
    .resume-section h2 {
        margin: 10px 0px 0px 0px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-green);
    /* Roboto font from google web fonts */
    font-family: Roboto, sans-serif;
    /* use the font-effect-3d class from google web fonts instead of text-shadow */
    /* text-shadow: 4px 4px 4px #aaa; */
}

/* on small screens we want to reduce the margin amount on the header elements from its browser default of 1em */
@media screen and (max-width: 600px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0.25em 0;
    }
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Projects
--------------------------------------*/
/* .project-item {
    display: flow-root;
    margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
} */

/* change project section to use a grid like work experience */
/* NOTE: by using a grid at all sizes, we avoid having to introduce a media query to change away from float
   and switch to a grid like the CSS Essentials tutorial did.  This was a better choice in our situation
   because we have a small enough amount of text for the one project entry that float doesn't have any value
   because it doesn't need to wrap around the image. If our project text was longer, float would be a better 
   choice at larger displays and we would switch to grid at a smaller size (like 860px from the exercise). */
.project-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

.project-item .project-thumbnail img {
    width: 300px;
}

/* below 600px, switch to a single column layout */
@media screen and (max-width: 600px) {
    .project-item {
        grid-template-columns: 1fr;
    }

    /* also need to change the thumbnail width to be 100% of the column instead of fixed width */
    .project-item .project-thumbnail img {
        width: 100%;
    }
}


/* Work Experience
--------------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

/* below 600px, switch to a single column layout */
@media screen and (max-width: 600px) {
    .work-item {
        grid-template-columns: 1fr;
    }
}

/* Education
--------------------------------------*/
/* have education use a similar grid layout to work experience */
.education-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

/* make the first paragraph in the education summary bold */
.education-summary p:first-child {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .education-item {
        grid-template-columns: 1fr;
    }
}

/* FOOTER
--------------------------------------*/
footer {
    color: var(--yellow-green);
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer h2 {
    /* need to override the h2 color from the global styles */
    color: var(--yellow-green);
}

footer img {
    max-width: 64px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    /* filter: brightness(1.5); */
    opacity: 0.5;
}

/* below 500px the socials started wrapping to a new line, so we'll change them to a single column
   by switching the flex-direction to column */
@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        /* center align the content of the footer since we're a single column here instead of leaving them left-aligned */
        text-align: center;
    }

    /* as a single column there's too much vertical space between the text and icons, so reduce it */
    footer h2 {
        margin: 10px 0px 0px 0px;
    }

    .socials {
        margin: 0;
    }
}