:root {
    /* color palette exported from https://coolors.co/31393c-2176ff-33a1fd-fdca40-f79824 */
    --gunmetal: #31393cff;
    --blue-crayola: #2176ffff;
    --celestial-blue: #33a1fdff;
    --sunglow: #fdca40ff;
    --carrot-orange: #f79824ff;
}

/* GLOBAL STYLES
--------------------------------------*/
body {
    background-color: var(--sunglow);
    font-family: Roboto, sans-serif;
}

/* create classes matching the grid areas so it's easier to mentally map them */
.header {
    grid-area: header;
}

.portfolio-piece1 {
    grid-area: portfolio-piece1;
}

.portfolio-piece2 {
    grid-area: portfolio-piece2;
}

.portfolio-piece3 {
    grid-area: portfolio-piece3;
}

.portfolio-piece4 {
    grid-area: portfolio-piece4;
}

.portfolio-piece5 {
    grid-area: portfolio-piece5;
}

.portfolio-piece6 {
    grid-area: portfolio-piece6;
}

.footer-title {
    grid-area: footer-title;
}

.footer-contact {
    grid-area: footer-contact;
}

.portfolio-piece {
    align-self: center;
    padding: 20px;
    background-color: var(--celestial-blue);
    color: var(--gunmetal);
    border: 1px solid var(--gunmetal);
}

.portfolio-piece img {
    /* ensure the portfolio images don't cause the columns to expand beyond the viewport */
    max-width: 100%;
}

.wrapper {
    color: var(--gunmetal);
    /* ensure we keep some space around the edges of the page */
    margin: 20px;
}

/* Navbar
--------------------------------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gunmetal);
    /* position: absolute; */
    top: 0;
    right: 10px;
    width: 100%;
}

nav li {
    float: left;
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: var(--carrot-orange);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    /* color changes on hover */
    background-color: black;
    color: white;
}

/* default layout will be desktop so we can decrease width to find where the 
   layout breaks and use those for changing the grid layout */
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header            header           header"
        "portfolio-piece1  portfolio-piece2 portfolio-piece3"
        "portfolio-piece4  portfolio-piece5 portfolio-piece6"
        "footer-title      footer-contact   footer-contact";
}

.footer-contact {
    /* keep footer contact info on the right side of its grid slot in desktop mode */
    justify-self: end;
}

.header {
    /* center the header in its grid slot */
    justify-self: center;
}


@media screen and (max-width: 1100px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header            header"
            "portfolio-piece1  portfolio-piece2"
            "portfolio-piece3  portfolio-piece4"
            "portfolio-piece5  portfolio-piece6"
            "footer-title      footer-contact";
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "header"
            "portfolio-piece1"
            "portfolio-piece2"
            "portfolio-piece3"
            "portfolio-piece4"
            "portfolio-piece5"
            "portfolio-piece6"
            "footer-title"
            "footer-contact";
    }

    .header,
    .footer-title,
    .footer-contact {
        /* when we collapse to a single column, center the header and footer items */
        justify-self: center;
    }
}

/* FOOTER
--------------------------------------*/
footer img {
    max-width: 64px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

